html, body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
}

.body{
    display: flex;
    align-items: center;
    justify-content: center;


    height: 100%;

    &>*{

        // margin-right: 2em;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper__settings{
    width: 15%;
    display:flex;

    justify-content: center;

    .settings{
        display: flex;
        flex-direction: column;

        text-align: center;

        gap: 1em;

        input{
            margin-top: -1em;
        }

    }
    

}

.wrapper__boxes{

    width: 50%;

    .boxes__container {
        display: flex;
        // position: absolute;
        align-items: center;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
    
        height:20em;
        width: 20em;
    
        margin: 0 auto;
    
        // border: 1px solid black;
    
        &--children {
            padding: 0;
            margin: 0;
            border: 1px solid black;
        }
    
    
    }
}



.wrapper__blank{
width: 15%;
}

.black{
    background-color: black;
}

.white{
    background-color: white;
}